[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
mono_crash.mem.*.blob
Assets/TerrainDemoScene_URP/
Assets/TerrainDemoScene_URP.meta

Assets/StreamingAssets/config.json.meta
Assets/StreamingAssets/config.json.meta
Assets/StreamingAssets/config.json
